.skills-grid {
  display: flex;
  /* Instead of 1fr columns, let them size themselves based on content (up to 400px if you have that max-width). */
  /* or use auto if you prefer: repeat(3, auto) */
  grid-gap: 60px;
  justify-content: center;

  .skill {
    /* You can still have a max-width on each skill if you want them to top out at 400px */
    max-width: 400px;  
    text-align: left;   // or center, depending on your preference
    .skill-icons {
      display: flex;
      gap: 1rem;
      height: 4em;
      align-items: center;
      img {
        width: 3em;
        height: 3em;
      }
      #docker_logo,
      #huggingface_logo {
        width: 4em;
        height: 4em;
      }
    }
  }
}

/* OpenAI logo is black and white, so invert it in light mode */
.dark-mode #openai_logo {
    filter: invert(1) !important;
}

/* TODO: Find out what this is for */
.chip {
    color: rgb(39, 40, 34) !important;
    background-color: white !important;
    font-size: 0.8rem !important;
    height: 25px !important;

    span {
        font-family: 'Courier Prime', monospace;
        color: rgb(39, 40, 34);
    }

    svg {
        height: 15px !important;
    }
}

.flex-chips {
    line-height: 2;
    margin: 0.5;

    .chip-title {
        color: white;
        padding-right: 10px;
    }

    .MuiChip-root {
        margin-right: 0.5em;

        &.MuiChip-outlined {
            background-color: #e0e0e0;
            font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;

            span {
                color: rgb(39, 40, 34);
            }
        }
    }
}

@media screen {
    @media (max-width: 768px) {
        .body-container#expertise {
            flex-direction: column;
        }
    
        .body-container#expertise .skills-grid {
            display: initial;
        }
        
        .body-container#expertise .skills-grid .skill {
            padding-bottom: 5%;
        }
    }

    @media (max-width: 567px) {
        .body-container#expertise .skills {
            font-size: 12px;
        }
    }
}