.swiper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;  // Remove any extra padding if not needed
  height: auto;  // Let content define the height
  padding-bottom: 40px;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
  height: auto;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;  // Ensure the slide isn’t forcing an extra height
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.swiper-slide-active {
  opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
  color: #890707; /* Customize the navigation button color */
}

.dark-mode .swiper-pagination-bullet {
  background: #6c6c6c; /* Color for non-focused dots in dark mode */
}

.dark-mode .swiper-pagination-bullet-active {
  background: #fff; /* Color for focused dot in dark mode */
}

.project {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  cursor: pointer;
  width: 250px; /* Set a fixed width for the project tiles */
  height: 250px; /* Adjust height to accommodate the new section */
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  text-align: center; /* Center text horizontally */

  h2 {
    color: inherit;
    line-height: normal;
    margin: 0;
    margin-block-end: 0.7rem;
  }

  h3 {
    color: inherit;
    line-height: normal;
    margin: 0;
    font-size: 1rem;
    flex-grow: 1; /* This ensures it takes up remaining space */
    display: flex; 
    align-items: center; /* Centers text vertically */
    justify-content: center; /* Centers text horizontally */
    text-align: center; /* Ensures text is centered */
  }

  ul {
    padding-left: 1.5rem;
    margin: 0;
    display: none;
    li {
      margin-bottom: 0.5rem;
    }
  }

  .learn-more {
    display: flex;
    align-items: center; /* Align text vertically */
    justify-content: center; /* Center text horizontally */
    font-style: italic;
    margin-top: auto; /* Push it to the bottom without taking extra space */
  }
  
}

@media screen {
  @media (max-width: 700px) {
    .projects-container {
      display: block;
      padding-left: 5%;
      padding-right: 5%;
    }
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8); /* Dim background when modal opens */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

@keyframes modalExpand {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.modal-content {
  background: white;
  padding: 40px; /* Increase padding */
  border-radius: 8px;
  width: 60%; /* Increase width */
  max-width: 800px; /* Increase max-width */
  max-height: 80%; /* Increase max-height */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  animation: modalExpand 0.4s ease-in-out; /* Apply animation */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  justify-content: center; /* Center content vertically */
  text-align: center; /* Center text horizontally */
  margin: 0; /* Remove any default margin */
  position: relative; /* Ensure the close button is positioned relative to the modal */
  overflow: auto; /* Ensure content is scrollable if it overflows */
}

.modal-content h2, .modal-content h3 {
  margin-bottom: 20px; /* Increase margin-bottom */
  word-wrap: break-word; /* Ensure long words break to the next line */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001; /* Ensure the close button is above other elements */
}

.dark-mode .modal-content {
  background: black;
  color: white;
}

.dark-mode .close-button {
  color: white;
}

/* Disable scrolling when modal is open */
.modal-open {
  overflow: hidden;
}

@media (max-width: 768px) {
  .modal-content {
    width: 90%; /* Adjust width for smaller screens */
    height: auto; /* Adjust height for smaller screens */
    padding: 20px; /* Adjust padding for smaller screens */
  }
}